google-generativeai

#hugging face integration
langchain-huggingface
transformers
huggingface-hub

#openai integration
langchain-openai

#environment variables
python-dotenv

#machine-learning utilities
numpy
scikit-learn
